* {
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
}
body {
    background-image: url(images/trippy\ wp.png);
}
#header{
    font-family: 'Reenie Beanie', cursive;
    text-align: center;
    font-size: 70px;
}
.container{
    background: rgba(0,0,0,.25);
}
#gif-button {
    margin: 5px;
}
#add-search, #search-area {
    color: black;
    float: right;
    margin: 5px;
}
.gif-div {
    position: relative;
    float: left;
    text-align: center;
    margin: 5px;
    /* border: 5px solid whitesmoke; */
}
p {
    padding: 0px;
}
#gif-area {
    text-align: center;
    padding: 0px;
}

.start-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}
