* {
    font-family: 'Roboto', sans-serif;
    color: rgb(64,193,150);
    
}
body {
    background-image: url(images/trippy\ wp.png);
    background-color: lightblue;
}
#header{
    font-family: 'Reenie Beanie', cursive;
    text-align: center;
    color: rgb(172,0,82);
    font-size: 90px;
}
.container{
    background: rgba(0,0,0,.25);
}
#gif-button {
    margin: 5px;
}
#add-search, #search-area {
    color: black;
    float: right;
    margin: 5px;
}
.gif-div {
    position: relative;
    float: left;
    text-align: center;
    margin: 5px;
    /* border: 5px solid whitesmoke; */
}
p {
    padding: 0px;
}
#gif-area {
    text-align: center;
    padding: 0px;
}

.start-text {
    font-family: 'Reenie Beanie', cursive;
    font-size: 30px;
    color: rgb(138, 0, 85);
}
.start-card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
   
}
.header {
    font-family: 'Reenie Beanie', cursive;

    font-size: 50px;
}
